{% extends 'base_layout.html' %}

{% block page_title %}About{% endblock %}


{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div align="center"><strong>Eminiz ki kimse size bizden iyisini yediremez</strong></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div align="right"><b>created by gandalfw2</b></div>
{% endblock %}
