{% extends 'base_layout.html' %}
{% load static from static %}

{% block page_title %}Ana Sayfa{% endblock %}

{% block content %}
    <div>
        <img src="{% static '/assets/app4k.jpg' %}" style="height: 7rem; width: 7rem;">
    </div>
    <div class="row">
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 30rem;">
            <img src="{% static '/assets/cat.jpg' %}" class="center" style="height: 100%; width: 100%">
            <div class="card-body">
                <h5 class="card-title">Şira</h5>
                <p class="card-text">Merhaba ben şira. Genelde başıma buyruk bi kediyim. istenilen değil istediğim zaman
                    sevdittiririm.</p>
                <p>"Mama su uyku arada sevgi"</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>

    </div>
{% endblock %}