{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMAZONw2 {% block page_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include "layout/horizontal_menu.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            {% include "layout/_sidebar.html" %}
        </div>
        <div class=" col-md-11">
            <a>YOU ARE WELCOME</a>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>