{% load static %}

<header>
    <nav class="navbar navbar-default navbar-alt" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand to-top" rel="home" href="#">
                    <img src="{% static 'asst/img/assets/logo-white.png' %}" alt="Visual" class="logo-big">
                    <img src="{% static 'asst/img/assets/logo-dark.png' %}" alt="Visual" class="logo-small">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav  navbar-right">
                    <li>
                        <a class="to-top">
                            Home
                        </a>
                    </li>
                    <li class="to-section">
                        <a href="#about">
                            About Us
                        </a>
                    </li>
                    <li class="to-section">
                        <a href="#team">
                            Team
                        </a>
                    </li>
                    <li class="to-section">
                        <a href="#portfolio">
                            Portfolio
                        </a>
                    </li>
                    <li class="to-section">
                        <a href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>